:root{
    --main-color: #011D28;
    --second-color:#B9D932;
    --container-width:1200px;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    overflow-x: hidden;
    background-color: var(--main-color);
    color: var(--second-color);
}
/* .presentacion{
    font-size: 10vh;
    display: flex;
    flex-direction: row;
} */
.foto{
    max-width: 20vh;
    max-height: auto;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-self: end;
}
section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:var(--container-width);
    min-height: 100vh;
    text-align: center;
} 
/* Home */


/* Proyectos */


/* About me */

/* Contacto */