@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=VT323&family=Rajdhani:wght@300;500;700&display=swap');

:root {
  --primary: #D900FF;
  --secondary: #00E5FF;
  /* --bg-dark: #050014; */
}

/* Animación Glitch */
@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

.animate-glitch {
  animation: glitch 2s infinite;
}

/* Scrollbar personalizado */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
/* .custom-scrollbar::-webkit-scrollbar-track {
  background: var(--bg-dark);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
} */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}